<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div class="col-lg-12">
            <h1 class="page-header">예약 확인</h1>
        </div>
        <div id='calendar'></div>
    </th:block>

</th:block>

<script th:inline="javascript">

    /*<![CDATA[*/
    var carId = [[ ${carId} ]];
    /*]]*/
    console.log("carId", carId);

    let name = [[${session.authInfo.getLoginId()}]];

    var myurl=""
    var calendar;

    function getReservations(carId) {
        if (carId == 0) {
            myurl = "/reservations/member/" + name;
        } else {
            myurl = "/reservations/car/" + carId;
        }

        $.ajax({
            type: "GET",
            url: myurl,
            dataType: "json",
            data: {},

            success: function (response) {
                console.log(response.length);

                for (let i = 0; i < response.length; i++) {
                    calendar.addEvent({
                        title: response[i].loginId,
                        start: response[i].start,
                        end: response[i].end,
                        color: "#"+Math.round(Math.random()*0xffffff).toString(16),
                        reservationId: response[i].id,
                        userId: response[i].loginId
                    })
                }
            }
        });
    }

    $(document).ready(getReservations([[${carId}]]));

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            height:650,
            selectable: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth'
            },

            select: function(info) {
                carId = [[${carId}]];
                console.log("carId", carId);

                const year = info.end.getFullYear()
                const month = info.end.getMonth();
                const day = info.end.getDate();

                if (carId != 0 && confirm(name + "님 " + info.start.toLocaleDateString() + ' 부터 ' + (new Date(year, month, day-1)).toLocaleDateString() + ' 까지 예약하시겠습니까?')) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/save-reservation",
                        data: {
                            'loginId': name,
                            'carId': carId,
                            'start': info.startStr,
                            'end': info.endStr
                        },

                        success: function (response) {
                            console.log("response.length", response);
                            alert("예약이 완료되었습니다.");
                            calendar.addEvent({
                                title: response.loginId,
                                start: response.start,
                                color: "#" + Math.round(Math.random() * 0xffffff).toString(16),
                                end: response.end,
                                reservationId: response.id
                            });
                        },

                        error: function () {
                            alert("해당 일자에 중복된 예약이 있습니다.");
                        }
                    })
                }
                calendar.unselect();
            },

            eventClick: function (info) {
                name = [[${session.authInfo.getLoginId()}]];
                if (name == info.event.extendedProps.userId) {
                    if (confirm(info.event.title + " - 삭제하시겠습니까?")) {
                        $.ajax({
                            type: "POST",
                            url: "del-reservation",
                            data: {
                                'id': info.event.extendedProps.reservationId
                            },
                            success: function (response) {
                                info.event.remove();
                            }
                        });
                    }
                }

            }
        });

        calendar.render();
    });


</script>
</html>