<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div class="col-lg-12">
            <h1 class="page-header">게시글 목록</h1>
        </div>

        <div class="card mb-4" style="margin-top: 30px;">
            <div class="card-body">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">writer</th>
                        <th scope="col">date</th>
                        <th scope="col">viewCount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post:${posts}">
                        <td th:text="${post.getId()}" width="10%"> 1 </td>
<!--                        <td th:text="${post.getTitle()}" width="50%"> 1 </td>-->
                        <td><a th:href="@{posts/read(id=${post.getId()})}" th:text="${post.getTitle()}" class="link-secondary">1</a></td>

                        <td th:text="${post.getWriter()}" width="20%"> 1 </td>
                        <td th:text="${post.getCreateDate()}" width="10%"> 1 </td>
                        <td th:text="${post.getViewCount()}" width="10%"> 1 </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row d-flex justify-content-center">
                    <div class="row">
                        <div class="col">
                            <form action="/posts" method="GET">
                                <div class="btn-toolbar mb-3 ms-3">
                                    <div class="input-group me-2">
                                        <select name="option" class="form-select mr-2">
                                            <option value="title">title</option>
                                            <option value="writer">writer</option>
                                            <option value="content">content</option>
                                        </select>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <input type="text" name="keyword" placeholder="검색어 입력">
                                        <button class="btn btn-secondary"> Search </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col"><button class="btn btn-secondary float-end" onclick="location.href='/posts/save'">글쓰기</button></div>
                    </div>
<!--                    페이징 영역 -->

                    <div class="page-num" th:with="start=${(page.number/maxPage)*maxPage + 1},
                                    end=(${(page.totalPages == 0) ? 1:(start+(maxPage - 1) < page.totalPages? start + (maxPage -1) : page.totalPages)})">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:if="${start > 1}">
                                <a class="page-link" th:href="@{/posts(page=0, option=${option}, keyword=${keyword})}" th:text="'<<'"></a>
                            </li>

                            <li class="page-item" th:if="${start > 1}">
                                <a class="page-link" th:href="@{/posts(page=${start - maxPage}, option=${option}, keyword=${keyword})}" th:text="'<'"></a>
                            </li>

                            <li class="page-item" th:each="p: ${#numbers.sequence(start, end)}">
                                <a class="page-link" th:href="@{/posts(page=${p-1}, option=${option}, keyword=${keyword})}" th:text="${p}"></a>

                            <li class="page-item" th:if="${end < page.totalPages}">
                                <a class="page-link" th:href="@{/posts(page=${start + maxPage}, option=${option}, keyword=${keyword})}" th:text="'>'"></a>
                            </li>

                            <li class="page-item" th:if="${end < page.totalPages}">
                                <a class="page-link" th:href="@{/posts(page=${page.totalPages-1}, option=${option}, keyword=${keyword})}" th:text="'>>'"></a>
                            </li>
                        </ul>
                    </nav>
                    </div>
<!--                    페이징 영역 끝-->
                </div>
            </div>
        </div>
    </th:block>

</th:block>
</html>