<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<div class="footer" th:fragment="fragments-footer">
    <!-- Footer -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://github.com/ludwings0330">bae</a> &
            <a class="text-reset fw-bold" href="https://github.com/ejrgus2956">deok</a><br>
            <span>머리가 띵해요</span>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>