<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div class="col-lg-12">
            <h1 class="page-header">인덱스 페이지</h1>
        </div>
        회원 관리
        <br>
        <a href="/login" class="link-primary">로그인</a>
        <br>
        <a href="/logout" class="link-primary">로그아웃</a>
        <br>
        <a href="/join" class="link-primary">회원가입</a>
        <br>
        차량 관리
        <br>
        <a href="/car" class="link-primary">차량등록</a>
        <br>
        <a href="/own-car-list" class="link-primary">등록 차량 관리</a>
        <br>
        <a href="/car-list" class="link-primary">예약하기</a>
        <br>
        예약 및 게시판
        <br>
        <a href="/reservation" class="link-primary">예약조회</a>
        <br>
        <a href="/posts" class="link-primary">게시판</a>
    </th:block>

</th:block>
</html>