<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div class="col-lg-12">
            <h1 class="page-header">회원 가입</h1>
        </div>

        <form action="/join" method="post">
            <div class="form-group my-3">
                <label for="loginId">아이디</label>
                <input type="text" class="form-control" name="loginId" id="loginId" placeholder="input login id" required>
            </div>

            <div class="form-group my-3">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="input name" required>
            </div>

            <div class="form-group my-3">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="input password" required>
            </div>

            <div class="form-group my-3">
                <label for="confirm-password">비밀번호 확인</label>
                <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="confirm password" required>
            </div>

            <div class="m-1" >
                <button class="btn btn-primary " type="submit">등록</button>
                <button class="btn btn-secondary " onclick="location.href='/'">취소</button>
            </div>
        </form>

    </th:block>

</th:block>
</html>
