<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="col-lg-12">
            <h1 class="page-header">차량 상세 정보</h1>
        </div>
            <div class="card mb-4" style="margin-top: 30px;">
                <div class="card-body">
                    <img class="card-img-top" th:width="300px" th:height="400px" th:src="${car.getSavedFileName()}" th:alt="${car.getOriginFileName()}" style="max-height: 400px; max-width: 400px; display: block; margin: 0px auto">
                    <form action="/mod-car" id="carModForm" method="post" enctype="multipart/form-data">
                        <input type="text" class="form-control" id="id" name="id" th:value="${car.getId()}" hidden/>


                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="loginId" name="loginId" th:value="${car.getLoginId()}" readonly/>
                            <label for="loginId" class="label-head">소유주</label>
                        </div>


                        <div class="form-floating mb-3">
                            <input type="text" class="form-control car-info" id="carModel" name="carModel" th:value="${car.getCarModel()}" readonly/>
                            <label for="carModel" class="label-head">차량 모델</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control car-info" id="year" name="year" th:value="${car.getYear()}" readonly/>
                            <label for="year" class="label-head">차량 연식</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control car-info" id="driveDistance" name="driveDistance" th:value="${car.getDriveDistance()}" readonly/>
                            <label for="driveDistance" class="label-head">총 주행거리</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control car-info" id="info" name="info" th:value="${car.getInfo()}" readonly/>
                            <label for="info" class="label-head">정보</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control car-info" id="price" name="price" th:value="${car.getPrice()}" readonly/>
                            <label for="price" class="label-head">일일 대여요금</label>
                        </div>

                        <th:block th:if="${session.authInfo.getLoginId() == car.getLoginId()}">
                            <a id="btn-mod" onclick="modInfo()" class="btn btn-secondary"> 수정 </a>
                            <button id="btn-save" class="btn btn-primary" type="submit" style="display: none">저장</button>
                            <a th:href="|/del-car/${car.getId()}|" class="btn btn-danger"> 삭제 </a>
                            <a th:href="@{/reservations/(id=${car.getId()})}" class="btn btn-primary"> 예약 내역 확인 </a>
                        </th:block>
                    </form>

                    <th:block th:if="${session.authInfo.getLoginId() != car.getLoginId()}">
<!--                        사실 이 부분은 캘린더를 띄워서 바로 일자를 선택하도록 구현-->
                        <a th:href="@{/reservations(id=${car.getId()})}" class="btn btn-primary"> 예약 </a>
                    </th:block>

                </div>
            </div>

    </th:block>
</th:block>
<script type="text/javascript">
    function modInfo() {
        let inputs = document.getElementsByClassName('car-info');

        for (let i = 0; i < inputs.length; i++) {
            inputs[i].readOnly = false;
        }
        document.getElementById('btn-mod').style.display='none';
        document.getElementById('btn-save').style.display='';
    }
</script>
</body>
</html>